header {
  background-color: #222;
  height: 200px;
  padding: 10px;
  color: orangered;
}

.App {
  text-align: center;
}

.App-fill{
  height: 100%;
  width: 100%;
}

.App-intro {
  font-size: large;
}

.App-table{
  align-content: center;
  margin: 0px auto;
}

.App-row-default{
  height: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
